<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConceptNetDotnet" version="1.1.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net46" />
  <package id="RestSharp" version="104.5.0" targetFramework="net46" />
  <package id="Syn.WordNet" version="1.0.5" targetFramework="net45" requireReinstallation="true" />
</packages>